.SoloView {
text-align: center;
}

.SoloView-body{
background-color: #35654d;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.topContainer{
    display: flex;
    flex-direction: row;
  }